
<html>
  <title>
    Namibia Women In Computing Conference 2019
  </title>
  
  <body>
    <h1> More information will be coming soon! </h1>
	
	<section class="nav"> 
		<nav> 
		  <ul class="navig"> 
			<li><a href="index.html">Register</a></li> 
			<li><a href="program.html">Program</a></li> 
			<li><a href="contact.html">Contact</a></li> 
		  </ul> 
		</nav>
	</section>
	
	<header>		
		
		
		<h1> 5th EDITION OF NAMIBIA WOMEN IN COMPUTING 
CONFERENCE! </h1>
		<h2>VENUE: Namibia University of Science and Technology, Auditorium 1 </h2>
		<h3>TIME: 08H30 - 16H30 </h3>
		
		<section class="register_button"> <h2>REGISTER</h2> </section>
	</header>
	
	<div class="main">
		
			<p>The <strong> Women in Computing Conference </strong> is organized by volunteers who are a combination of
			students, lecturers and women from the industry. </p >  

			<p>The conference is co-organized with Women Tech Makers, Google, University of Namibia and the Namibia 
			University of Science and Technology. 
			The conference is also partially sponsored by Google and forms part of the global Anita Borg Birthday 
			Celebrations that are taking place around the world. Anita Borg was a technologist who relentlessly 
			fought to ensure that technology has a positive impact on people’s lives and founded the Anita Borg 
			Institute. You can read more about her at 
			<a href="http://anitaborg.org/about-us/about-anita-borg/"> http://anitaborg.org/about-us/about-anita-borg/</a>. </p>
 
			<p>Each year we attract ~200 women interested or in computing and related fields. This includes, high school
			students, industry women, university students and staff. Topics presented focus mainly on retention, attracting
			and introducing women and girls to the computing field and providing role models and mentors. This year’s focus 
			is on entrepreneurial initiatives and innovations done by women and girls across the country.</p>
	</div>
	
	<footer>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<ul>
			<img src="{% static 'images/womentechmakers2.png' %}" alt="UML diagram" style="width:93px;height:88px;">
			<img src="{% static 'images/nust2.jpg' %}" alt="UML diagram" style="width:113px;height:80px;">
			<img src="{% static 'images/womenincomputing2.jpg' %}" alt="UML diagram" style="width:108px;height:76px;">
		</ul>
		

			<p class="myright">
				<strong> Email: </strong> nabbygirl@gmail.com <br />
				<strong>Twitter:</strong> <a href="https://twitter.com/namtechwomen" target="_blank">
          @namtechwomen
        </a>
			</p>
	</footer>
  </body>
  
  <style>
    body {
    background-color: #AC41BF;
    color: white;
    text-align: center;
    }
  </style>
</html>

